<div class="content-container">
    <div class="tab-content" id="category-tab-content">
        <div class="tab-pane show active" id="today" aria-labelledby="today-tab">
            <div class="today-container list-container">
                <div class="options-header">
                </div>
                <div class="list-header">
                    <div class="list-header-left">
                        <button class="add-new-button violet-button" type="button" onclick="OpenCreateTemplateWindow()">Dodaj nowe</button>
                    </div>
                    <div class="search-for-todays-task">
                        <input class="search-for template-search" placeholder="Wyszukaj szablon" />
                    </div>
                </div>
                <div class="list-content">
                    <div class="table-responsive">
                        <table class="table table-borderless" id="todays-tasks-table">
                            <thead>
                                <tr>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">Notatki</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Priorytet</th>
                                    <th scope="col">Przypomnienie</th>
                                    <th class="centered-cell" scope="col">Opcje</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="todays-options-container options-container" style="display:none;">
                <div class="option-content">
                    <div class="options-header">
                        <div class="previous-page" style="flex:1;">
                            <button class="violet-button" id="todays-previous-button" type="button" style="display: flex; align-items:center;" onclick="">
                                <span class="arrow-back" style="max-width:24px;"><img src="~/icons/previous.png" /></span>
                                <span>Powrót</span>
                            </button>
                        </div>
                        <div class="option-name" style="flex:auto; text-align:center;">
                            <span class="opion-name-placeholder" id="todays-input-window-title">Nowe zadanie</span>
                        </div>
                        <div style="flex:1;"></div>
                    </div>
                    <hr />
                    <form class="options-form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label for="todays-task-name">Nazwa zadania *</label>
                                    <input type="text" class="form-input" id="todays-task-name" required maxlength="30" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="todays-task-notes">Notatki</label>
                                    <textarea class="form-input" id="todays-task-notes" rows="3" maxlength="120" required spellcheck="false"></textarea>
                                    <div class="symbol-counter" style="margin-top: 0.25rem; text-align: right" id="symbolCounterAdd">&nbsp</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="todays-task-priority">Priorytet</label>
                                    <select class="task-priority" id="todays-task-priority">
                                        <option value="0" selected>Brak priorytetu</option>
                                        <option value="1" >Niski</option>
                                        <option value="2" >Średni</option>
                                        <option value="3" >Wysoki</option>
                                        <option value="4" >Najwyższy</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="todays-start-date">Data rozpoczęcia</label>
                                    <input type="datetime-local" id="todays-start-date" />
                                </div>
                                <div class="col">
                                    <label for="today-end-date">Data zakończenia</label>
                                    <input type="datetime-local" id="todays-end-date" />
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center d-flex">
                            <button type="submit" class="violet-button" id="createOrEditButtonTemplates"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="calendar" aria-labelledby="calendar-tab">
            <div class="today-container list-container">
                <div class="options-header">
                </div>
                <div class="list-header">
                    <div class="list-header-left">
                        <button class="add-new-button violet-button" type="button" onclick="OpenCreateTemplateWindow()">Dodaj nowe</button>
                    </div>
                    <div class="search-for-todays-task">
                        <input class="search-for template-search" placeholder="Wyszukaj szablon" />
                    </div>
                </div>
                <div class="list-content">
                    <div class="table-responsive">
                        <table class="template-list table table-borderless" id="template-table">
                            <thead>
                                <tr>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">Opis</th>
                                    <th scope="col">Treść</th>
                                    <th class="centered-cell" scope="col">Opcje</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


